body {
  margin: 0;
  padding: 0;
  background-color: black;
}

/* header section */

header {
  height: 50px;
  color: white;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.header-span {
  background-color: gray;
  margin-right: 5px;
  padding: 2px 4px;
  border-radius: 5px;
}

/* main section */

main {
  margin: auto;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  overflow: auto;
  over
  scroll-behavior: smooth;
}

img {
  margin: 5px;
}

.img-div {
  width: 250px;
  height: 200px;
  background-image: url(https://picsum.photos/250/200);
  position: relative;
  margin: 5px;
}

.img-span {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 3px;
}

/* footer */

footer {
  display: flex;
  justify-content: space-between;
  color: white;
  background-color: rgb(45, 45, 45);
  text-align: center;
  align-items: center;
  height: 100px;
  margin-top: 50px;
}

.span-footer {
  display: inline-block;
  font-size: 1.5rem;
  margin-left: 20px;
}

.green {
  color: green;
}

.end-meeting {
  background-color: gray;
  height: 100%;
  color: red;
  display: flex;
  align-items: center;
  padding: 0px 20px;
}

.footer-align{
  display: flex;
  align-items: center; 
}